.venv/
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Model outputs
results/checkpoints/*
results/figures/*
results/tables/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
